h2 {
    text-align: center;

}
.register-form-container {  
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #495057;
}
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
  
button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}
  